.content {
  margin: 0 auto;
  padding: 0 !important;

  a:hover {
    text-decoration: underline;
  }

  p.demo {
    padding: 1rem 1.5rem !important;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  img {
    max-width: 100%;
  }

  .number {
    align-items: unset;
    background-color: transparent;
    border-radius: 0;
    display: inherit;
    font-size: inherit;
    height: unset;
    justify-content: unset;
    margin-right: 0;
    min-width: unset;
    padding: unset;
    text-align: unset;
    vertical-align: unset;
  }

  details,
  details[open] {
    summary {
      &::-webkit-details-marker {
        display: none;
      }
    }

    &:not(&[open]) summary {
      list-style: none;
      position: relative;
      cursor: pointer;
      outline: none;
      white-space: normal;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: calc(50% - 0.4rem);
        bottom: 0;
        display: block;
        height: 0;
        width: 0;
        border-left: 0.5rem solid #000;
        border-top: 0.3rem solid transparent;
        border-bottom: 0.3rem solid transparent;
        transition: all 0.125s ease-out;
      }
    }

    &[open] summary {
      &:after {
        transform: rotate(90deg);
      }
    }
  }

  a {
    font-weight: 500;
    color: $primary;
    text-decoration: none;
  }

  p a code {
    font-weight: 400;
    color: $primary;
  }

  kbd {
    background: #eee;
    border: solid 0.15rem #ddd;
    border-bottom: solid 0.25rem #ddd;
    border-radius: 0.15rem;
    padding: 0 0.15rem !important;
  }

  blockquote {
    font-size: 1.2rem;
    color: #999;
    border-left: 0.25rem solid #dfe2e5;
    margin-left: 0;
    padding-left: 1rem !important;
  }

  strong {
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;

    &:hover .header-anchor {
      opacity: 1;
    }
  }

  .icon.outbound {
    color: nth($grays, 4);
    display: inline-block;
    width: .9rem;
    height: .9rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.65rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid $light;
  }

  .has-height-auto {
    height: auto !important;
  }

  p .is-small-small-jumbo {
    margin-bottom: -5rem;
    margin-top: 4rem;
  }

  h3 {
    font-size: 1.35rem;
  }

  table {
    display: block;

    tr {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex: 1 1 100%;
      width: 100%;


      td,
      th {
        display: block;
        width: 100%;
        min-width: 10%;
      }
    }
  }

  a.header-anchor {
    float: left;
    margin-left: -1.5rem;
    margin-top: 0.125rem;
    opacity: 0;
  }

  a.header-anchor:hover {
    text-decoration: none;
  }

  code,
  kbd {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  p,
  ul,
  ol {
    line-height: 1.7;
    font-weight: 400;
  }

  hr {
    border: 0;
    border-top: 1px solid $light;
  }

  table {
    border-collapse: collapse;
    margin: 1rem 0 !important;
    min-width: auto;
  }

  tr {
    &:nth-child(2n) {
      @include desktop {
        background-color: #f6f8fa;
      }
    }

    @include touch {
      td:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
  }

  th,
  td {
    padding: 0.625rem .5rem !important;

    @include mobile {
      width: 100%;
      display: block;
    }
  }
}

h2.is-title-small-jumbo {
  margin-top: -4.5rem;
}