.sidebar-sticky {
  padding-left: 0;
  padding-right: 0;
  background-color: #fafbfd;

  @include tablet {
    border-bottom-left-radius: 0.625rem;
  }

  @include mobile {
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius: .625rem;
  }

  >div {
    position: sticky;
    top: 0;

    >.ps-container {
      @include tablet {
        max-height: 100vh;
      }
    }

    .sidebar {
      font-size: .9rem;
      height: auto;

      @include mobile {
        border-right: 0;
        width: 100%;
        padding: 0 1.2rem;
      }

      .sidebar-selector-inactive {
        display: block;
      }

      .sidebar-selector-active {
        display: none;
      }

      .sidebar-links {
        &:not(.sidebar-selector-active) {
          padding-left: 1rem;
        }

        position: relative;

        .select-box {

          &:not(.active) {

            .input,
            .input.open,
            .icon {
              color: nth($grays, 2);
            }
          }


          .selectable {
            .selectable-items {
              li {
                a {
                  font-weight: normal;
                  color: nth($grays, 3);

                  &.router-link-active {
                    color: $dark;
                    font-weight: 500;
                  }
                }
              }
            }
          }

        }

        li {
          padding: 0.25rem;
          margin-top: 0.75rem;

          a {
            color: nth($grays, 2);
            font-weight: 500;
          }

          &:last-child {
            padding-bottom: 0.75rem;
          }

          cursor: pointer;

          .sidebar-sub-headers {
            border-left: 2px solid #c6c7dc;
            margin-left: .25rem;
            padding-left: .5rem;
          }

          &.sidebar-sub-header {
            a {
              color: #7b7b8f;
              font-weight: normal;

              &.active {
                color: #000;
                font-weight: 500;
              }
            }
          }

          .tags {
            margin-top: 0.5rem;
          }

          &:not(.sidebar-sub-header)>a.active {
            position: relative;
            color: $primary;

            &:before {
              content: "";
              display: block;
              width: 0.25rem;
              height: 2rem;
              position: absolute;
              top: -0.5rem;
              left: 0;
              margin-left: -1.25rem;
              bottom: 0;
              border-radius: 0.25rem;
              background-color: $primary;
            }
          }

          &:not(.sidebar-sub-header).sub-link {
            >a {
              padding-left: .5rem;

              &:before {
                margin-left: -1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

.sidebar-open {
  .custom-layout {
    .page {
      display: none;
    }
  }

  .sidebar-sticky {
    .sidebar {
      .sidebar-selector-inactive {
        display: none;
      }

      .sidebar-selector-active {
        display: block;
      }
    }
  }
}