// colors
$brandPrimaryPurple = #a100ff
$brandPrimaryDark = #30323d
$brandPrimaryLight = #e2e6ed
$brandSecondaryBlue = #001fff
$brandSecondaryCyan = #2de5ea
$brandSecondaryGreen = #86e028
$brandSecondaryYellow = #ffce00
$brandSecondaryOrange = #ff7900
$brandSecondaryRed = #f72d2d
$brandSecondaryPink = #ff107d

$accentColor = $brandPrimaryPurple
$textColor = #151515
$borderColor = transparent
$codeBgColor = $brandPrimaryDark
$arrowBgColor = $brandPrimaryLight

$headerColor = $textColor
$headerGray = #363636
$headerLinkHoverColor = $brandPrimaryLight
$headerLinkHoverUnderlineColor = #888

// layout
$navbarHeight = 4rem
$sidebarWidth = 19rem
$contentWidth = 1000px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
