@require './config'
@require './nprogress'
@require './code'
@require './custom-blocks'
@require './arrow'

html, body
  padding 0
  margin 0

body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor

.sidebar-mask
  position sticky
  z-index 9
  top 0
  left 0
  width 100vw
  height 100vh
  display none

.sidebar
  font-size 15px
  // background-color #fcfcfc
  width calc(100% + 1rem)
  z-index 10
  margin 0
  // top $navbarHeight
  left 0
  box-sizing border-box
  border-right: 1px solid #F1F1F1;
  overflow-y auto
  overflow-x hidden
  margin-top 0
.content:not(.custom)
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem !important
  > *:first-child
    // margin-top $navbarHeight
  a:hover
    text-decoration underline
  p.demo
    padding 1rem 1.5rem !important
    border 1px solid #ddd
    border-radius 4px
  img
    max-width 100%

.content.custom
  padding 0
  margin 0

details summary::-webkit-details-marker,
details[open] summary::-webkit-details-marker
  display none

details[open] summary:after
  transform rotate(90deg)

details summary:after
  content ''
  position absolute
  right 0
  top calc(50% - .4rem)
  bottom 0
  display block
  height 0
  width 0
  border-left .5rem solid #000
  border-top .3rem solid transparent
  border-bottom .3rem solid transparent
  transition all 0.125s ease-out
details summary
  list-style none
  position relative
  cursor pointer
  outline none
  white-space normal

a
  font-weight 500
  color $accentColor
  text-decoration none

p a code
  font-weight 400
  color $accentColor

kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em !important

blockquote
  font-size 1.2rem
  color #999
  border-left .25rem solid #dfe2e5
  margin-left 0
  padding-left 1rem !important

ul, ol
  padding-left 1.2em !important

strong
  font-weight 600

h1, h2, h3, h4, h5, h6
//   font-weight 400
//   line-height 1.25
  .home .content > &:first-child
    margin-top 0 !important
    margin-bottom 0 !important
    padding-top 0
    padding-bottom 0
    &:first-child + p
      margin-top 1em
  .content:not(.custom) > &
    // padding-top ($navbarHeight + 1rem) !important
    margin-bottom 0
    &:first-child
      margin-bottom 1rem
      + p, + pre, + .custom-block
        margin-top 2rem
  &:hover .header-anchor
    opacity: 1

h1
  font-size 2.4rem

h2
  font-size 1.65rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor
  &.is-title-small-jumbo
    margin-top -2.5rem
    margin-bottom 5.5rem

.has-height-auto
  height auto !important

p .is-small-small-jumbo
  margin-bottom -5rem
  margin-top 4rem

.container.is-fluid
  padding-left 1.17188rem
  padding-right 1.17188rem

h3
  font-size 1.35rem

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

code, kbd
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
  line-height 1.7

hr
  border 0
  border-top 1px solid $borderColor

table
  border-collapse collapse
  margin 1rem 0 !important

tr
  border-top 1px solid #dfe2e5
  &:nth-child(2n)
    background-color #f6f8fa

th, td
  border 1px solid #dfe2e5
  padding .6em 1em !important

.custom-layout
  padding-top $navbarHeight

.columns
  &.sidebar-open
    .page
      display: none
    .sidebar-mask
      display: block
    .sidebar
      .sidebar-selector-inactive
        display: none
      .sidebar-selector-active
        display: block
  &.no-navbar
    .content:not(.custom) >
      h1, h2, h3, h4, h5, h6
        margin-top 1.5rem
        padding-top 0
    .sidebar
      top 0 !important
    .custom-layout
      padding-top 0 !important


@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none
    .page
      padding-left 0

@require './mobile.styl'
